[Unit]
Description=Gnome Keyring for UID=%i
Requires=jdvm-dbus-session@%i.service
After=jdvm-dbus-session@%i.service
StartLimitIntervalSec=5s
StartLimitBurst=30

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=%i
Environment=XDG_RUNTIME_DIR=/run/user/%i
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%i/bus
ExecStart=/usr/bin/gnome-keyring-daemon --start --foreground --components=secrets
Restart=on-failure
RestartForceExitStatus=0
